body{
    background-image: url('img/metin2.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    
}
img{
    width: 700px;
}
a {
    text-decoration: none;
    color: blue;
}
a:link{
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
    color: green;
}
li{
    text-decoration: underline;
}
a:active {
    text-decoration: none;
    color: green;
}
a:checked{
    text-decoration: none;
    color: blue;
}
h1{
    text-align: center;
    margin: 20px 0px 40px 0px;
    color: rgb(163, 130, 22)
}
.info{
    width: 200px;
}
p{
    margin: 20px 5px 5px 5px;
    
}
p.center{
text-align: center;

}
table{
    border: 1px solid;
}
td.menu{
    height: 30px;
    font-size: large;
    text-align: center;
    width: 160px;
    background-color: #999;
    border: 1.5px solid;
}

td.header{
    background-color: #000;
    
}
td.tartalom{
    background-color: #AAA;
     
}
#google {
    text-align: center;
    color: Blue;
}
footer {
    margin: 10px;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: left;
    color: white;
    font-family: "Tempus Sans ITC";
    background-color: #000;
    max-width: 800px;
}
h2, h4, hr {    
    margin: 5px 15px 5px 10px;
    color: red
}
h3{
    margin: 5px 15px 5px 20px;
    color: blue
}
h4.inside {
    margin: 0px;
}
div.box {
    float: left;
    margin-right: 15px;
    padding: 0 0 5px 0;
    width: 225px;
}
div.long {
    width: 100%;
    max-width: 465px;
}
div.nomargin {
    margin-right: 0px;
    width: auto;
}
div.submit {
    margin-top: 15px;
}
div.separator {
    clear: both;
}
input[type="text"], select, textarea {
    display: block;
    border-top: inset;
}
input[type="text"].long {
    width: 98%;
    max-width: 455px;
}
input[type="text"].short, select, textarea {
    width: 217px;
}
textarea {
    height: 75px;
}
legend{
    margin: 5px 15px 5px 20px;
    color: white
}
h4{
    font-size: x-large;
    margin: 5px 15px 5px 20px;
    color: gold
}

